'global':
  'editor':
    'fontFamily': 'Source Code Pro Light'
    'fontSize': 18
    'preferredLineLength': 120
    'useShadowDOM': true
  'core':
    'themes': [
      'glacier-ui'
      'glacier-syntax'
    ]
    'disabledPackages': [
      'api-blueprint-preview'
      'archive-view'
      'background-tips'
      'linter'
      'metrics'
    ]
  'metrics': false
  'exception-reporting':
    'userId': '78938a71-bafd-523c-d2ba-dd6d54adb512'
  'welcome':
    'showOnStartup': false
  'theme-switcher':
    'themeOne': 'seti-syntax'
    'themeTwo': 'Writer'
  'linter': {}
  'autocomplete':
    'includeCompletionsFromAllBuffers': true
  'autosave':
    'enabled': true
  'fuzzy-finder': {}
